
{{#each brews as |brew|}}

  <section class="brew" data-id="{{brew.id}}">
    <h2>
      <small>Recipe Name:</small> {{limit brew.name 35}}
    </h2>
    <p>
      <small>User:</small>
      {{#if brew.user.email}}
        {{brew.user.email}}
      {{else}}
        No brewer assigned.
      {{/if}}
    </p>
    <p>
      <small>Recipe:</small>
      {{#if brew.recipe}}
        {{brew.recipe}}
      {{else}}
        No recipe provided.
      {{/if}}
    </p>
    <p>
      <small>Steps:</small>
      {{#if brew.steps}}
        {{brew.steps}}
      {{else}}
        No steps provided.
      {{/if}}
    </p>
    <p>
      <small>Notes:</small>
      {{#if brew.notes}}
        {{brew.notes}}
      {{else}}
        No notes provided.
      {{/if}}
    </p>
  </section>

{{/each}}
