
{{#each brews as |brew|}}
  {{log brew}}
  {{> partial}}

  <section class="brew" data-id="{{brew.id}}">
    <h2>
      <small>Title:</small> {{limit brew.name 15}}
    </h2>
    <p>
      <small>User:</small>
      {{#if brew.user}}
        {{brew.user}}
      {{else}}
        No brewer provided.
      {{/if}}
    </p>
    <button type="submit" class="btn btn-danger delete-brew">Remove</button>
  </section>

{{/each}}
